/*
  Use this file to allocate styles that can be
  shared across components in your Design System.
*/

@import url(../../../src/design-tokens/css/_variables.css);

:root {
  font-size: var(--hs-font-main-fontsize);
  font-family: var(--hs-font-main-fontfamily);
  font-weight: var(--hs-font-main-fontweight);
  font-style: var(--hs-font-main-fontstyle);
  font-stretch: var(--hs-font-main-fontstretch);
  letter-spacing: var(--hs-font-main-letterspacing);
  line-height: var(--hs-font-main-lineheight);
  text-decoration: var(--hs-font-main-textdecoration);
  text-transform: var(--hs-font-main-textcase);
  text-indent: var(--hs-font-main-paragraphindent);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}