/*
  Use this file to allocate styles that can be
  shared across components in your Design System.
*/

@import "../../design-tokens/css/_variables.css";

@font-face {
  font-family: 'Apercu Pro';
  src: url(../fonts/apercu_regular_pro.otf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Apercu Pro', 'sans-serif' !important; */
  color: red !important;
}